/* font-family: 'Bitter', serif;
font-family: 'Fira Code', monospace;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
:root {
  --primary-color: #003348;
  --secondary-color: #e3f7ff;
  --navigation-color: #bbd4ed;
  --btn-color: #4cb0e1;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h4,
h6 {
  font-family: var(--heading-font);
}

h1 {
  font-weight: bold;
  font-size: 128px;
  padding-top: 223px;
}

body {
  background: var(--primary-color);
  font-family: var(--default-font);
  color: var(--secondary-color);
  text-align: center;
}

.hero h2 {
  font-family: var(--default-font);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.hero .intro-links a {
  font-family: bitter;
  color: var(--navigation-color);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.hero .intro-links a:hover {
  color: var(--btn-color);
  text-decoration: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--btn-color);
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--btn-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hero .btn-contact {
  color: var(--secondary-color);
  background: var(--btn-color);
  padding: 18px 30px;
  border-radius: 4px;
  margin-top: 49px;
}
.hero .footer {
  margin-top: 206px;
  padding-bottom: 100px;
}
.social-media {
  padding: 41px 0px 40px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  transition: all 200ms ease-in-out;
}
.icon {
  padding: 0px 20px;
}
.social-media a:hover {
  transform: scale(1.5);
}
